<app-sidebar></app-sidebar>
<main>
  <div class="logout-container">
    <button class="logout-button" (click)="onLogout()">
      Log out
    </button>
  </div>
  <h2 id="title">Boarding School Capacity</h2>
  <h3>Click on the cell you want to modify</h3>

  <div class="button-container">
    <button (click)="toggleTable()" class="tabButton">
      Summary Status
      <ion-icon class="rot" name="chevron-down"></ion-icon>
    </button>
    <button class="exportExcel" (click)="saveTableData()">
      <ion-icon name="save"></ion-icon>
    </button>
    <button class="exportExcel" (click)="exportTableToExcel1()">
      <img src="logo.png" class="excel-icon">
    </button>
  </div>

  <table id="PopulationTable" class="tab" [ngClass]="{ 'hidden': isTableHidden }">
    <tr>
      <th>Code</th>
      <th>State</th>
      <th>Number of Boarding Schools</th>
      <th>Number of Accommodation Beds</th>
      <th>Number of Students Housed</th>
      <th>Accommodation Capacity Utilization Rate (%)</th>
    </tr>
    <tr *ngFor="let row of tableData; let i = index">
      <td contenteditable="true" (input)="updateCell(i, 'code', $event)">{{row.code}}</td>
      <td contenteditable="true" (input)="updateCell(i, 'state', $event)">{{row.state}}</td>
      <td contenteditable="true" (input)="updateCell(i, 'numBoardingSchools', $event)">{{row.numBoardingSchools}}</td>
      <td contenteditable="true" (input)="updateCell(i, 'numAccommodationBeds', $event)">{{row.numAccommodationBeds}}</td>
      <td contenteditable="true" (input)="updateCell(i, 'numStudentsHoused', $event)">{{row.numStudentsHoused}}</td>
      <td>{{row.accommodationCapacityUtilRate | number:'1.2-2'}}</td>
    </tr>
  </table>

  <div class="button-container">
    <button (click)="toggleDetailTable()" class="tabButton">
      Detail per town
      <ion-icon class="rot" name="chevron-down"></ion-icon>
    </button>
    <button id="exportExcel"  (click)="saveAllData()">
      <ion-icon name="save"></ion-icon>
    </button>
    <button id="exportExcel" (click)="exportTableToExcel2()">
      <img src="logo.png" class="im" />
    </button>
  </div>

  <table id="detail" class="tab" [ngClass]="{ hidden: isDetailTableHidden }">
    <tr>
      <th>Code</th>
      <th>State</th>
      <th>Number of Boarding Schools</th>
      <th>Number of Accommodation Beds</th>
      <th>Number of Students Housed</th>
      <th>Accommodation Capacity Utilization Rate (%)</th>
    </tr>
    
    <!-- Bouira Daira Section -->
    <tr class="daira">
      <td colspan="6">Daira: Bouira</td>
    </tr>
    <tr *ngFor="let row of FirstData; let i = index">
      <td contenteditable="true" (input)="updateFirstCell(i, 'code', $event)">{{row.code}}</td>
      <td contenteditable="true" (input)="updateFirstCell(i, 'state', $event)">{{row.state}}</td>
      <td contenteditable="true" (input)="updateFirstCell(i, 'numBoardingSchools', $event)">{{row.numBoardingSchools}}</td>
      <td contenteditable="true" (input)="updateFirstCell(i, 'numAccommodationBeds', $event)">{{row.numAccommodationBeds}}</td>
      <td contenteditable="true" (input)="updateFirstCell(i, 'numStudentsHoused', $event)">{{row.numStudentsHoused}}</td>
      <td>{{row.accommodationCapacityUtilRate | number:'1.2-2'}}</td>
    </tr>
    <tr class="total">
      <td colspan="2">Total Daira:</td>
      <td>{{FirstnumBoardingSchools}}</td>
      <td>{{FirstnumAccommodationBeds}}</td>
      <td>{{FirstnumStudentsHoused}}</td>
      <td>{{FirstaccommodationCapacityUtilRate | number:'1.2-2'}}</td>
    </tr>
    
    <!-- Sour el ghozlane Daira Section -->
    <tr class="daira">
      <td colspan="6">Daira: Sour el ghozlane</td>
    </tr>
    <tr *ngFor="let row of SecondData; let i = index">
      <td contenteditable="true" (input)="updateSecondCell(i, 'code', $event)">{{row.code}}</td>
      <td contenteditable="true" (input)="updateSecondCell(i, 'state', $event)">{{row.state}}</td>
      <td contenteditable="true" (input)="updateSecondCell(i, 'numBoardingSchools', $event)">{{row.numBoardingSchools}}</td>
      <td contenteditable="true" (input)="updateSecondCell(i, 'numAccommodationBeds', $event)">{{row.numAccommodationBeds}}</td>
      <td contenteditable="true" (input)="updateSecondCell(i, 'numStudentsHoused', $event)">{{row.numStudentsHoused}}</td>
      <td>{{row.accommodationCapacityUtilRate | number:'1.2-2'}}</td>
    </tr>
    <tr class="total">
      <td colspan="2">Total Daira:</td>
      <td>{{SecondnumBoardingSchools}}</td>
      <td>{{SecondnumAccommodationBeds}}</td>
      <td>{{SecondnumStudentsHoused}}</td>
      <td>{{SecondaccommodationCapacityUtilRate | number:'1.2-2'}}</td>
    </tr>
  </table>

  <div class="charts-container">
    <div class="chart-wrapper">
      <canvas id="stateChart"></canvas>
    </div>
    <div class="chart-wrapper">
      <canvas id="dairaComparisonChart"></canvas>
    </div>
    <div class="chart-wrapper">
      <canvas id="utilizationChart"></canvas>
    </div>
  </div>
</main>