<app-sidebar></app-sidebar>
<main>
  <div class="logout-container">
    <button class="logout-button" (click)="onLogout()">
      Log out
    </button>
  </div>
  <h2 id="title">Culture</h2>
      <h3>click on the cell you want to modify</h3>
  

<div class="button-container">
  <button (click)="toggleTable()" class="tabButton">
    summary status of the State
    <ion-icon class="rot" name="chevron-down"></ion-icon>
  </button>
  <button id="exportExcel" (click)="saveTableData()">
    <ion-icon name="save"></ion-icon>
  </button>
  <button id="exportExcel" (click)="exportTableToExcel1()">
    <img src="logo.png" class="im" />
  </button>
</div>
  <table id="PopulationTable" class="tab" [ngClass]="{ 'hidden': isTableHidden }">
    <tr>
      <th rowspan="2">Code</th>
      <th rowspan="2">State</th>
      <th rowspan="2">Number of Museums</th>
      <th rowspan="2">Number of Movie Theaters</th>
      <th rowspan="2">Number of Libraries</th>
      <th rowspan="2">Number of Cultural Houses</th>
      <th rowspan="2">Number of Cultural Centers</th>
      <th rowspan="2">Number of Theaters</th>
      <th rowspan="2">Number of music institutes or schools</th>
      <th rowspan="2">Number of fine arts institutes</th>
      <th colspan="2">Cultural Associations</th>
    </tr>
    <tr>
      <th>Number</th>
      <th>Number of affiliates (Members)</th>
    </tr>
    <tr *ngFor="let row of tableData; let i = index">
      <td contenteditable="true" (input)="updateCell(i, 'code', $event)">{{row.code}}</td>
      <td contenteditable="true" (input)="updateCell(i, 'state', $event)">{{row.state}}</td>
      <td contenteditable="true" (input)="updateCell(i, 'numMuseums', $event)">{{row.numMuseums}}</td>
      <td contenteditable="true" (input)="updateCell(i, 'numMovieTheaters', $event)">{{row.numMovieTheaters}}</td>
      <td contenteditable="true" (input)="updateCell(i, 'numLibraries', $event)">{{row.numLibraries}}</td>
      <td contenteditable="true" (input)="updateCell(i, 'numCulturalHouses', $event)">{{row.numCulturalHouses}}</td>
      <td contenteditable="true" (input)="updateCell(i, 'numCulturalCenters', $event)">{{row.numCulturalCenters}}</td>
      <td contenteditable="true" (input)="updateCell(i, 'numTheaters', $event)">{{row.numTheaters}}</td>
      <td contenteditable="true" (input)="updateCell(i, 'numMusicInstitutes', $event)">{{row.numMusicInstitutes}}</td>
      <td contenteditable="true" (input)="updateCell(i, 'numFineArtsInstitutes', $event)">{{row.numFineArtsInstitutes}}</td>
      <td contenteditable="true" (input)="updateCell(i, 'numA', $event)">{{row.numA}}</td>
      <td contenteditable="true" (input)="updateCell(i, 'numAffiliates', $event)">{{row.numAffiliates}}</td>
    </tr>
  </table>

  <div class="button-container">
    <button (click)="toggleDetailTable()" class="tabButton">
      Summary Status of the State
      <ion-icon class="rot" name="chevron-down"></ion-icon>
    </button>
    <button id="exportExcel" (click)="saveAllData()">
      <ion-icon name="save"></ion-icon>
    </button>
    <button id="exportExcel" (click)="exportTableToExcel2()">
      <img src="logo.png" class="im" />
    </button>
  </div>

  <table id="detail" class="tab" [ngClass]="{ hidden: isDetailTableHidden }">
    <tr>
      <th rowspan="2">Code</th>
      <th rowspan="2">State</th>
      <th rowspan="2">Number of Museums</th>
      <th rowspan="2">Number of Movie Theaters</th>
      <th rowspan="2">Number of Libraries</th>
      <th rowspan="2">Number of Cultural Houses</th>
      <th rowspan="2">Number of Cultural Centers</th>
      <th rowspan="2">Number of Theaters</th>
      <th rowspan="2">Number of music institutes or schools</th>
      <th rowspan="2">Number of fine arts institutes</th>
      <th colspan="2">Cultural Associations</th>
    </tr>
    <tr>
      <th>Number</th>
      <th>Number of affiliates (Members)</th>
    </tr>
    
    <tr >
      <td colspan="12" class="daira">Daira: Bouira</td>
    </tr>
    <tr *ngFor="let row of FirstData; let i = index">
      <td contenteditable="true" (input)="updateFirstCell(i, 'code', $event)">{{row.code}}</td>
      <td contenteditable="true" (input)="updateFirstCell(i, 'state', $event)">{{row.state}}</td>
      <td contenteditable="true" (input)="updateFirstCell(i, 'numMuseums', $event)">{{row.numMuseums}}</td>
      <td contenteditable="true" (input)="updateFirstCell(i, 'numMovieTheaters', $event)">{{row.numMovieTheaters}}</td>
      <td contenteditable="true" (input)="updateFirstCell(i, 'numLibraries', $event)">{{row.numLibraries}}</td>
      <td contenteditable="true" (input)="updateFirstCell(i, 'numCulturalHouses', $event)">{{row.numCulturalHouses}}</td>
      <td contenteditable="true" (input)="updateFirstCell(i, 'numCulturalCenters', $event)">{{row.numCulturalCenters}}</td>
      <td contenteditable="true" (input)="updateFirstCell(i, 'numTheaters', $event)">{{row.numTheaters}}</td>
      <td contenteditable="true" (input)="updateFirstCell(i, 'numMusicInstitutes', $event)">{{row.numMusicInstitutes}}</td>
      <td contenteditable="true" (input)="updateFirstCell(i, 'numFineArtsInstitutes', $event)">{{row.numFineArtsInstitutes}}</td>
      <td contenteditable="true" (input)="updateFirstCell(i, 'numA', $event)">{{row.numA}}</td>
      <td contenteditable="true" (input)="updateFirstCell(i, 'numAffiliates', $event)">{{row.numAffiliates}}</td>
    </tr>
    <tr >
      <td colspan="2" class="total">Total Daira:</td>
      <td>{{FirstnumMuseums}}</td>
      <td>{{FirstnumMovieTheaters}}</td>
      <td>{{FirstnumLibraries}}</td>
      <td>{{FirstnumCulturalHouses}}</td>
      <td>{{FirstnumCulturalCenters}}</td>
      <td>{{FirstnumTheaters}}</td>
      <td>{{FirstnumMusicInstitutes}}</td>
      <td>{{FirstnumFineArtsInstitutes}}</td>
      <td>{{FirstnumA}}</td>
      <td>{{FirstnumAffiliates}}</td>
    </tr>
    
    <tr >
      <td colspan="12" class="daira">Daira: Sour el ghozlane</td>
    </tr>
    <tr *ngFor="let row of SecondData; let i = index">
      <td contenteditable="true" (input)="updateSecondCell(i, 'code', $event)">{{row.code}}</td>
      <td contenteditable="true" (input)="updateSecondCell(i, 'state', $event)">{{row.state}}</td>
      <td contenteditable="true" (input)="updateSecondCell(i, 'numMuseums', $event)">{{row.numMuseums}}</td>
      <td contenteditable="true" (input)="updateSecondCell(i, 'numMovieTheaters', $event)">{{row.numMovieTheaters}}</td>
      <td contenteditable="true" (input)="updateSecondCell(i, 'numLibraries', $event)">{{row.numLibraries}}</td>
      <td contenteditable="true" (input)="updateSecondCell(i, 'numCulturalHouses', $event)">{{row.numCulturalHouses}}</td>
      <td contenteditable="true" (input)="updateSecondCell(i, 'numCulturalCenters', $event)">{{row.numCulturalCenters}}</td>
      <td contenteditable="true" (input)="updateSecondCell(i, 'numTheaters', $event)">{{row.numTheaters}}</td>
      <td contenteditable="true" (input)="updateSecondCell(i, 'numMusicInstitutes', $event)">{{row.numMusicInstitutes}}</td>
      <td contenteditable="true" (input)="updateSecondCell(i, 'numFineArtsInstitutes', $event)">{{row.numFineArtsInstitutes}}</td>
      <td contenteditable="true" (input)="updateSecondCell(i, 'numA', $event)">{{row.numA}}</td>
      <td contenteditable="true" (input)="updateSecondCell(i, 'numAffiliates', $event)">{{row.numAffiliates}}</td>
    </tr>
    <tr >
      <td colspan="2" class="total">Total Daira:</td>
      <td>{{SecondnumMuseums}}</td>
      <td>{{SecondnumMovieTheaters}}</td>
      <td>{{SecondnumLibraries}}</td>
      <td>{{SecondnumCulturalHouses}}</td>
      <td>{{SecondnumCulturalCenters}}</td>
      <td>{{SecondnumTheaters}}</td>
      <td>{{SecondnumMusicInstitutes}}</td>
      <td>{{SecondnumFineArtsInstitutes}}</td>
      <td>{{SecondnumA}}</td>
      <td>{{SecondnumAffiliates}}</td>
    </tr>
  </table>
 </main>