<app-sidebar></app-sidebar>
<main>
  <div class="logout-container">
    <button class="logout-button" (click)="onLogout()">
      Log out
    </button>
  </div>
  <h2 id="title">Universities</h2>
      <h3>click on the cell you want to modify</h3>
  

      <div class="button-container">
        <button (click)="toggleTable()" class="tabButton">
          summary status of the State
          <ion-icon class="rot" name="chevron-down"></ion-icon>
        </button>
        <button id="exportExcel"   (click)="saveTableData()">
          <ion-icon name="save"></ion-icon>
        </button>
        <button id="exportExcel" (click)="exportTableToExcel()">
          <img src="logo.png" class="im" />
        </button>
      </div>
  <table id="PopulationTable" class="tab" [ngClass]="{ 'hidden': isTableHidden }">
    <tr>
      <th rowspan="2">Code</th>
      <th rowspan="2">State</th>
      <th colspan="6">Universities</th>
    </tr>
    <tr>
      <th>Number of universities/university centers</th>
        <th>Number of teaching places</th>
        <th>Number of enrolled students</th>
        <th>Capacity utilization rate (%)</th>
        <th>Number of professors </th>
        <th>Supervision ratio (Number of students per professor) (%)</th>
    </tr>
    <tr *ngFor="let row of tableData; let i = index">
      <td contenteditable="true" (input)="updateCell(i, 'code', $event)">{{ row.code }}</td>
      <td contenteditable="true" (input)="updateCell(i, 'state', $event)">{{ row.state }}</td>
      <td contenteditable="true" (input)="updateCell(i, 'numInstitutionsNColleges', $event)">{{ row.numUniversities }}</td>
      <td contenteditable="true" (input)="updateCell(i, 'numTeachingPlaces', $event)">{{ row.numTeachingPlaces }}</td>
      <td contenteditable="true" (input)="updateCell(i, 'numberEnrolledStudents', $event)">{{ row.numberEnrolledStudents }}</td>
      <td>{{ row.capacityUtilizationRate.toFixed(2) }}%</td>
      <td contenteditable="true" (input)="updateCell(i, 'numProfessors', $event)">{{ row.numProfessors }}</td>
      <td>{{ row.supervisionRatio.toFixed(2) }}</td>
    </tr>
  </table>
 </main>